.App {
  text-align: center;
}
.addItem {
  background-color: green;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 10px;
}
.showBtn:hover,
.addItem:hover {
  cursor: pointer;
  box-shadow: 1px 3px 4px 2px grey;
}
.showBtn {
  color: white;
  background-color: purple;
  font-size: 16px;
  border-radius: 5px;
}
.remove {
  color: white;
  background-color: red;
  font-size: 16px;
  border-radius: 5px;
}
.header {
  font-family: sans-serif;
  text-align: center;
  color: white;
  padding: 5px;
  border-radius: 15px;
  background-color: blue;
}

.inputs {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
}

